<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3 class="footer-heading mb-4">@Sitecore.Globalization.Translate.Text("About Us")</h3>
                <p>@Sitecore.Globalization.Translate.Text("Text Footer")</p>
            </div>
            
            
                <div>
                    <h3 class="footer-heading mb-4">@Sitecore.Globalization.Translate.Text("Connect With Us")</h3>
                    <p>
                        @Html.Sitecore().Placeholder("Social Networks")
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    @Html.Sitecore().Placeholder("Footer Copyright")
                </p>
            </div>
        </div>
    </div>
</div>