<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @Html.Sitecore().Field("Image 1", new { mw = 600})
            </div>
            <div class="col-md-5 ml-auto">
                <h2>@Html.Sitecore().Field("Heading 1")</h2>
                <p class="mb-4">@Html.Sitecore().Field("Text 1")</p>

                <ul class="ul-check list-unstyled success">
                    <li>Onsectetur adipisicing elit</li>
                    <li>Dolorem saepe non eligendi possimus</li>
                    <li>Voluptate odit corrupti vitae</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                @Html.Sitecore().Field("Image 2", new { mw = 600})
            </div>
            <div class="col-md-5 mr-auto order-md-1">
                <h2>@Html.Sitecore().Field("Heading 2")</h2>
                <p>@Html.Sitecore().Field("Text 2")</p>
                <ul class="ul-check list-unstyled success">
                    <li>Onsectetur adipisicing elit</li>
                    <li>Dolorem saepe non eligendi possimus</li>
                    <li>Voluptate odit corrupti vitae</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @Html.Sitecore().Field("Image 3", new { mw = 600})
            </div>
            <div class="col-md-5 ml-auto">
                <h2>@Html.Sitecore().Field("Heading 3")</h2>
                <p class="mb-4">@Html.Sitecore().Field("Heading 3")</p>

                <ul class="ul-check list-unstyled success">
                    <li>Onsectetur adipisicing elit</li>
                    <li>Dolorem saepe non eligendi possimus</li>
                    <li>Voluptate odit corrupti vitae</li>
                </ul>
            </div>
        </div>
    </div>
</div>